body{
    background: #FBFBFB;
}

.MSpace-nav-top {
    position:fixed;
    display: block;
    width: 100%;
    background: rgba(13, 37, 3, 0.81);
}


.MSpace-nav-top>div>div>div {
    color: rgb(255, 198, 65) !important;
}

.MSpace-nav-top>div>div>div>a {
    color: rgb(255, 198, 65) !important;;
}


.chat-conversation-window {
    width: 240px;
    height: 100%;
    float: right;
    padding-right: 0px;
    bottom: 0;
    margin-right: 6px;
}

.chat-conversation-window-closed {
    width: 160px;
    float: right;
    padding-right: 0px;
    margin-top: 290px;
    bottom: 0;
    margin-right: 6px;
}

.chat-containerbar-bottom {
    position:fixed;
    bottom:0;
    right:0px;
    z-index:50;
    height:320px;
    padding-right:15px;
}

.chat-message-bubble-left {
    margin-right: 17px;
    background: #e5e5e5;;
}

.chat-message-bubble-right {
    background: #f5f5f5;;
    margin-left: 17px;
}

.chat-message-bubble-right:after {
    right: -5px;
    border-color: transparent #f5f5f5;
    border-width: 6px 0 6px 6px;
}

.chat-message-bubble-left:after {
    border-width: 6px 6px 6px 0;
    left: -5px;
    border-color: transparent #e5e5e5;
}

.chat-message-bubble {
    position: relative;
    padding: 0px;
    border-radius: 3px;
    margin-bottom:8px;
    padding-left:7px;
    padding-right:7px;
    padding-top:2px;
    padding-bottom:2px;
    word-wrap: break-word;
}

.chat-message-bubble:after {
    top: 3px;
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    z-index: 1;
}


.chat-message-editor-textarea {
    overflow-y: scroll;
    padding-top:2px;
    padding-left:2px;
    width:100%;
    height:100%;
    resize:none;
    border:none;
}

.chat-conversation-window-headline {
    width:100%;
    font-size: 12px;
    font-weight: bold;
    height:28px;
    padding-top:7px;
    background: rgba(13, 37, 3, 0.81) !important;
    color: rgb(255, 198, 65) !important;
}

.chat-conversation-window-close-button {
    top:7px;
    right:7px;
    float:right;
    cursor: pointer;
    cursor: hand;
}

.chat-conversation-window-message-containter {
    font-size: 12px;
    padding-top:7px;
    height:73%;
    overflow:auto;
}

.chat-conversation-window-breadcrumb {
    height:1px;
    border-top:solid 1px;
    border-color:#cfcfcf;
}

.chat-conversation-window-bottom-bar {
    font-size: 12px;
    padding-left:2px;
    height:57px;
}

.chat-people {
    width: 219px;
    right:0;
    position: fixed;
    padding-right:0px;
    height:100%;
    border-left:solid 1px #CECECE;
    margin-top:50px;
    padding-top:10px;
    z-index:50;
    overflow: auto;
}

.chat-people>ul {
    margin-left: -10px;
    margin-top: -12px;
}

.chat-people-list {
    height: 100%;
}

.chat-conversation-element {
    cursor: pointer;
    cursor: hand;
    width: 210px;
    text-overflow: ellipsis;
    border-bottom: solid 1px #CECECE;
    margin-bottom: -6px;
}

.chat-conversation-element>a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap ;
    color: #333;
}

.chat-conversation-element>a>img {
    margin-right:5px;
    margin-left: -5px;
}

.chat-profile-picture {
    width: 32px;
    float: left;
}

.conversation-element-text {
    margin-top: 5px;
    margin-left: 35px;
    margin-right: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap ;
}

.conversation-element-online-status {
    color: #09862B;
    background-color: #09862B;
    border-radius: 50%;
    border: solid;
    width: 10px;
    height: 10px;
    float: right;
    margin-top: -16px;
}

.musicplayer-playlist-options {
    float: right;
}